h3 {
    text-align:center;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px gray;
}

@media (min-width: 400px) {
    .card-columns {
      column-count: 1;
    }
  }
  
  @media (min-width: 768px) {
    .card-columns {
      column-count: 2;
    }
  }
  
  @media (min-width: 992px) {
    .card-columns {
      column-count: 3;
    }
  }

  .goal-image-link-area {
    opacity: 0.7;
    position: absolute;
    bottom: 4rem;
    right: 0.5rem;
    color: whitesmoke;
    padding: 0.2rem 0.5rem;
    font-size: 0.65rem;
    text-shadow: 1px 1px 1px black;
  }
  
  .goal-image-link-area a {
    text-decoration: underline;
    color: white;
  }
