@page
@model IndexModel
@{
    ViewData["Title"] = "List aller Zielsetzungen";
}
<div class="container">
    <h1 class="jumbotron">Liste aller Zielsetzungen</h1>
    <div class="row">
        <ul>
            @foreach (var ambition in Model.Ambitions)
            {
                <li>@ambition.Name</li>
            }
        </ul>
    </div>
    <a href="/ambitions/create">Neue Zielsetzung</a>
</div>