<div class="container">
  <div class="card">

    <div class="card-header">Eintrag bearbeiten</div>

    <div class="card-body">
      <h4 class="card-title">Den Eintrag bearbeiten</h4>
      <form #form="ngForm" (submit)="onUpdateRecording(form)">

        <div class="row mt-4">
          <div class="col-lg">
            <div class="form-group row">
              <label class="col-lg-6 col-form-label" for="recordingInputField">Datum</label>
              <div class="col-lg-6">
                <input type="date" class="form-control" id="recordingInputField" name="date" [(ngModel)]="recording.date">
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group row">
              <label for="recordingAmountField" class="col-form-label col-lg-4 offset-lg-3">Messeinheit</label>
              <div class="col-lg-5">
                <input type="number" class="form-control" id="recordingAmountField" name="amount" [(ngModel)]="recording.amount">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="commentInputField" class="col-lg-3 col-form-label">Beschreibung</label>
          <div class="col-lg-9">
            <input #comment="ngModel" [class.is-invalid]="comment.invalid && comment.dirty" type="text" class="form-control" id="commentInputField"
              name="comment" [(ngModel)]="recording.comment">
            <div class="invalid-feedback">Bitte Kommentar abgeben</div>
          </div>
        </div>

      </form>
    </div>

    <div class="card-footer d-print-none">
      <button type="submit" class="btn btn-primary mr-2">Speichern</button>
      <button type="button" class="btn btn-outline-primary" (click)="onCancel()">Abbrechen</button>
    </div>

  </div>

</div>