h2 {
    text-align:center;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px gray;
}

.card-link {
    color: #222;
  }
  
  .card-body:hover {
    color: black;
    background-color: antiquewhite;
  }

.card.recording {
    width: 20rem;
    opacity: 0.93;

}

.goal-image-link-area {
    opacity: 0.7;
    position: absolute;
    bottom: 0rem;
    right: 0.8rem;
    color: whitesmoke;
    padding: 0.2rem 0.5rem;
    font-size: 0.65rem;
    text-shadow: 1px 1px 1px black;
}

.goal-image-link-area a {
    text-decoration: underline;
    color: white;
}