<div class="container">
  <div class="card">

    <div class="card-header">Eintrag zum Monatsziel</div>
    <a [routerLink]="['/goals', recording.goalId, 'detail']" class="card-link">

      <div class="card-body">
        <div class="card-text">
          <dl class="row mb-0">
            <dt class="col-md-3">Ziel</dt>
            <dd class="col-md-9">Zielname</dd>
            <dt *ngIf="recording.date" class="col-md-3">Datum</dt>
            <dd *ngIf="recording.date" class="col-md-9">{{recording.date | date:'shortDate'}}</dd>
            <dt class="col-md-3">Messeinheit</dt>
            <dd class="col-md-9">Platzhalter für Messeinheit</dd>
            <dt *ngIf="recording.comment" class="col-md-3">Beschreibung</dt>
            <dd *ngIf="recording.comment" class="col-md-9 font-weight-bold">{{recording.comment}}</dd>
          </dl>
        </div>
      </div>

      <div class="card-body">
        <dl class="row mb-0">
          <dt *ngIf="recording.itemCreatedDate" class="col-md-3">Eintrag erfast am:</dt>
          <dd *ngIf="recording.itemCreatedDate" class="col-md-9">{{recording.itemCreatedDate | date:'shortDate'}}</dd>
        </dl>
      </div>
    </a>

    <div class="card-footer pb-1">
      <div class="d-print-none">
        <button type="submit" class="btn btn-primary mb-2 mr-2" style="min-width: 9.3rem" (click)="onUpdateView()">Eintrag bearbeiten</button>
        <button type="button" class="btn btn-outline-primary mb-2 float-sm-right" style="min-width: 9.3rem" (click)="onBack()">Zurück</button>
      </div>
    </div>

  </div>
</div>