<div class="container">

  <div class="card">
    <a [routerLink]="['/goals']" class="card-link">
      <div class="card-header">{{goal.period}}</div>
      <div class="card-body">
        <h5 class="card-title" *ngIf="goal.name">Name: {{goal.name}}</h5>
        <div class="card-text">
          <dl class="row">
            <dt *ngIf="goal.description" class="col-sm-3">Beschreibung:</dt>
            <dd *ngIf="goal.description" class="col-sm-9">{{goal.description}}</dd>
            <dt *ngIf="goal.currentAmount" class="col-sm-3">Aktueller Wert:</dt>
            <dd *ngIf="goal.currentAmount" class="col-sm-9">{{goal.currentAmount}}</dd>
            <dt *ngIf="goal.targetAmount" class="col-sm-3">Zielwert:</dt>
            <dd *ngIf="goal.targetAmount" class="col-sm-9">{{goal.targetAmount}}</dd>
          </dl>
        </div>
      </div>
    </a>
    <div class="card-footer">
      <button type="button" class="btn btn-primary" (click)="onUpdate()">Ziel anpassen</button>
      <button type="button" class="btn btn-outline-primary ml-2" (click)="onBack()">Zurück zur Übersicht</button>
    </div>

  </div>

  <h2 *ngIf="goal.recordings" class="mt-4">Einträge</h2>
  <div class="d-md-flex" *ngIf="goal.recordings">
    <div class="card recording mb-4 mr-4" *ngFor="let recording of goal.recordings">
      <div class="card-header">Eintrag am {{recording.date | date:'yyyy-MM-dd'}}</div>
      <div class="card-body">
        <div class="card-text">
          <app-recording-list></app-recording-list>
        </div>

      </div>
      <div class="card-footer"></div>
    </div>
  </div>

</div>