h2 {
    text-align:center;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px gray;
}

.card-link {
    color: #222;
}

.card.recording {
    width: 22rem;
}

/* .card.recording .card-body {
    background-image: url(/assets/brickets.jpg);
    color: white;
} */