<div class="container">

  <div class="card">
    <a [routerLink]="['/goals']" class="card-link">
      <div class="card-header">{{goal.period}}</div>
      <div class="card-body">
        <dl class="row mb-0">
          <dt class="col-md-3">Ziel</dt>
          <dd class="col-md-9">
            <h5 class="card-title" *ngIf="goal.name">{{goal.name}}</h5>
          </dd>
        </dl>
        <div class="card-text">
          <dl class="row mb-0">
            <dt *ngIf="goal.description" class="col-md-3">Beschreibung:</dt>
            <dd *ngIf="goal.description" class="col-md-9">{{goal.description}}</dd>
            <dt *ngIf="goal.currentAmount" class="col-md-3">Aktueller Wert:</dt>
            <dd *ngIf="goal.currentAmount" class="col-md-9 font-weight-bold">{{goal.currentAmount}}</dd>
            <dt *ngIf="goal.targetAmount" class="col-md-3">Zielwert:</dt>
            <dd *ngIf="goal.targetAmount" class="col-md-9">{{goal.targetAmount}}</dd>
          </dl>
        </div>
      </div>
    </a>

    <div *ngIf="!isOnAddRecordingToggled" class="card-footer">
      <button *ngIf="!isOnAddRecordingToggled" type="button" style="min-width: 9.3rem" class="btn btn-primary mr-2" (click)="toggleAddRecording()">Neuer Eintrag</button>
      <button type="button" class="btn btn-outline-primary ml-2 float-right ml-2" (click)="onBack()">Zurück zur Übersicht</button>
      <button *ngIf="!isOnAddRecordingToggled" type="button" class="btn btn-primary float-right ml-2" (click)="onGoalUpdate()">Ziel anpassen</button>
    </div>

    <div *ngIf='isOnAddRecordingToggled' class="card-footer">
      <form #form="ngForm" (submit)="onSubmitCreateRecording(form)">

        <div class="form-group row">
          <div class="col-lg-12">
            <button *ngIf="isOnAddRecordingToggled" type="submit" style="min-width: 9.3rem" class="btn btn-primary mr-2">Eintrag speichern</button>
            <button *ngIf="isOnAddRecordingToggled" type="button" class="btn btn-outline-primary float-right" (click)="toggleAddRecording()">Abbrechen</button>
          </div>
        </div>

        <h5>Einen neuen Eintrag erstellen</h5>

        <div class="row mt-4">
          <div class="col-lg">
            <div class="form-group row">
              <label class="col-lg-6 col-form-label" for="recordingInputField">Datum</label>
              <div class="col-lg-6">
                <input type="date" class="form-control" id="recordingInputField" name="date" [(ngModel)]="recording.date">
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="form-group row">
              <label for="recordingAmountField" class="col-form-label col-lg-4 offset-lg-3">{{goal.amountUnitOfMeasurement}}</label>
              <div class="col-lg-5">
                <input type="number" class="form-control" id="recordingAmountField" name="amount" [(ngModel)]="recording.amount">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="commentInputField" class="col-lg-3 col-form-label">Beschreibung</label>
          <div class="col-lg-9">
            <input #comment="ngModel" [class.is-invalid]="comment.invalid && comment.dirty" type="text" class="form-control" id="commentInputField"
              name="comment" [(ngModel)]="recording.comment">
            <div class="invalid-feedback">Bitte Kommentar abgeben</div>
          </div>
        </div>
      </form>
    </div>

  </div>

  <app-recording-list [recordings]="goal.recordings" [amountUnitOfMeasurement]="goal.amountUnitOfMeasurement"></app-recording-list>

</div>