<div class="container">

  <div class="card">
    <a [routerLink]="['/goals']" class="card-link">
      <div class="card-header">{{goal.period}}</div>
      <div class="card-body">
        <h5 class="card-title" *ngIf="goal.name">Name: {{goal.name}}</h5>
        <div class="card-text">
          <dl class="row">
            <dt *ngIf="goal.description" class="col-sm-3">Beschreibung:</dt>
            <dd *ngIf="goal.description" class="col-sm-9">{{goal.description}}</dd>
            <dt *ngIf="goal.currentAmount" class="col-sm-3">Aktueller Wert:</dt>
            <dd *ngIf="goal.currentAmount" class="col-sm-9">{{goal.currentAmount}}</dd>
            <dt *ngIf="goal.targetAmount" class="col-sm-3">Zielwert:</dt>
            <dd *ngIf="goal.targetAmount" class="col-sm-9">{{goal.targetAmount}}</dd>
          </dl>
        </div>
        <div class="test">
          <p>Goal ID: {{recording.goalIds[0]}}</p>
          <p>Date: {{recording.date | date:'yyyy-MM-dd'}}</p>
          <p>Amount: {{recording.amount}}</p>
        </div>
      </div>
    </a>
    <div class="card-footer">
      <button type="button" class="btn btn-primary" (click)="onUpdate()">Ziel anpassen</button>
      <button type="button" class="btn btn-outline-primary ml-2" (click)="onBack()">Zurück zur Übersicht</button>
    </div>

  </div>

  <div class="mt-4" *ngIf="goal.recordings">
    <h2>Einträge</h2>
    <div class="card mb-4" *ngFor="let recording of goal.recordings">
      <div class="card-header">Eintrag</div>
      <div class="card-body">
        <h5 class="card-title">Datum: {{recording.date | date:'yyyy-MM-dd'}}</h5>
        <div class="card-text">Wert: {{recording.amount}}</div>
      </div>
    </div>
  </div>

</div>