<div class="container">

  <div class="card">
    <div class="card-header">{{goal.period}}</div>
    <div class="card-body">
      <h5 class="card-title" *ngIf="goal.name">Name: {{goal.name}}</h5>
      <div class="card-text">

      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary" (click)="onUpdate()">Speichern</button>
      <button type="button" class="btn btn-outline-primary ml-2" (click)="onCancelUpdate()">Abbrechen</button>
    </div>

  </div>