<div class="container" *ngIf="selectedExpedition">
  <h2>Expediton Detail</h2>
  <div id="expedition-detail" class="card">
    <div class="card-body">
      <h5 id="expedition-detail-title" class="card-title">Detail of Expedition</h5>
      <div class="card-text">
        <div *ngIf="selectedExpedition.id">ID: {{selectedExpedition.id}}</div>
        <div *ngIf="selectedExpedition.name">Name: {{selectedExpedition.name}}</div>
        <div *ngIf="selectedExpedition.altitude_meters">Höhe: {{selectedExpedition.altitude_meters}}</div>
        <div *ngIf="selectedExpedition.comment">Kommentar: {{selectedExpedition.comment}}</div>
      </div>
      <button type="button" (click)="onBack()" class="btn btn-primary mt-4">Back</button>
      <button type="button" (click)="edit()" class="btn btn-primary mt-4 ml-2">Edit</button>
    </div>
  </div>
</div>
