<div *ngIf='recordings' class="my-4">

  <div class="card shadow bg-white rounded">
    <div class="card-header">Einträge</div>
    <div class="card-body">
      <h5 class="card-title mb-3">Alle Einträge zum Monatsziel</h5>
      <div class="card-text">
        <li class="row d-block recording" *ngFor="let recording of recordings">
          <a [routerLink]="['../recordings', recording.id]" class="card-link d-block py-2">
            <span class="fa fa-check ml-3"></span>
            <span class="col-md-3">{{recording.date | date:'yyyy-MM-dd'}}</span>
            <span class="col-md-3">{{recording.amount}} {{amountUnitOfMeasurement}}</span>
            <span class="col-lg-6 offset-md-3 offset-lg-0 font-weight-bold" *ngIf="recording.comment">{{recording.comment}}</span>
          </a>
        </li>
      </div>
    </div>
  </div>

</div>