<div class="container">
    <div>
        <h2>List of all expeditions</h2>
        <div class="list-group expedition-list">
            <a href="#" class="list-group-item list-group-item-action expedition" *ngFor="let expedition of expeditions" [class.selected]="expedition === selectedExpedition"
                (click)="onSelect(expedition)">
                <span class="name">{{expedition.name | uppercase}}</span>&nbsp;
                <span class="altitude">{{expedition.altitude_meters}}m</span>
            </a>
        </div>
    </div>

    <div class="mt-3 row">
        <div class="col-6">
            <div class="form-group" *ngIf="selectedExpedition">
                <input type="text" class="form-control" [(ngModel)]="selectedExpedition.name" placeholder="Name">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group" *ngIf="selectedExpedition">
                <input type="text" class="form-control" [(ngModel)]="selectedExpedition.altitude_meters" placeholder="Altitude in meters">
            </div>
        </div>
    </div>
</div>