h2 {
    text-shadow: 1px 1px gray;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 1em;
}

label {
    color: silver;
    min-width: 12em;
}

.expedition {
    background-color: rgba(255, 255, 255, 0.75);
}

.expedition.selected {
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}

.expedition .name {
    font-style: italic;
}

.expedition:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.form-inline {
    padding-top: 1em;
}

:host {
    text-align: center;
}