<h2>List of all expeditions</h2>
<ul class="list-group expedition-list">
    <li class="list-group-item expedition" *ngFor="let expedition of expeditions" [class.selected]="expedition === selectedExpedition"
        (click)="onSelect(expedition)">
        <span class="name">{{expedition.name | uppercase}}</span>&nbsp;
        <span class="altitude">{{expedition.altitude_meters}}m</span>
    </li>
</ul>

<div class="m-3">
    <div class="form-inline">
        <div class="form-group" *ngIf="selectedExpedition">
            <label for="expeditionsNameInput" style="padding-right: 2em">Name</label>
            <input type="text" class="form-control" [(ngModel)]="selectedExpedition.name" id="expeditionsNameInput">
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group" *ngIf="selectedExpedition">
            <label for="altitude-meters-input" style="padding-right: 2em">Altitude in Meter</label>
            <input type="text" class="form-control" [(ngModel)]="selectedExpedition.altitude_meters" id="altitude-meters-input">
        </div>
    </div>
</div>