<div class="container">

  <div class="card shadow bg-white rounded">
    <a [routerLink]="['/goals']" class="card-link">
      <div class="card-header">Monatsziel</div>
      <div class="card-body">
        <dl class="row mb-0">
          <dt class="col-md-3">Ziel</dt>
          <dd class="col-md-9">
            <h5 class="card-title" *ngIf="goal.name">{{goal.name}}</h5>
          </dd>
        </dl>
        <div class="card-text">
          <dl class="row mb-0">
            <dt *ngIf="goal.description" class="col-md-3">Beschreibung:</dt>
            <dd *ngIf="goal.description" class="col-md-9">{{goal.description}}</dd>
            <dt *ngIf="goal.currentAmount" class="col-md-3">Aktueller Wert:</dt>
            <dd *ngIf="goal.currentAmount" class="col-md-9 font-weight-bold">{{goal.currentAmount}}</dd>
            <dt *ngIf="goal.targetAmount" class="col-md-3">Zielwert:</dt>
            <dd *ngIf="goal.targetAmount" class="col-md-9">{{goal.targetAmount}}</dd>
          </dl>
        </div>
      </div>
    </a>

    <div class="card-footer d-print-none pb-1">
      <router-outlet></router-outlet>
    </div>

  </div>

  <app-recording-list [recordings]="goal.recordings" [amountUnitOfMeasurement]="goal.amountUnitOfMeasurement"></app-recording-list>

</div>