@{
    ViewData["Title"] = "List of all ambitions";
}
@model List<AmbitionJournal.Models.Ambition>
<div class="container">
<h1 class="jumbotron">Liste aller Zielsetzungen</h1>
    <div class="row">
        <ul>
            @foreach (var ambition in Model)
            {
                <li>@ambition.Name</li>
            }
        </ul>
    </div>
</div>

</div>